@charset "utf-8";
/* CSS Document */
#content {
	margin-left: 20%;
	margin-right: 20%;
    text-align:center;
	background:#5F5F5F;
	padding-top: 10px;
	padding-bottom:10px;
	color: #fff;
	
	
}

#errors {
	color:#F00;
	}
a.visited, a.hover, a {
	color: #fff;
	}
body {
	background:#232323;
	font-family: 'Noto-sans', sans-serif;
	}
	
h1 {
	padding-bottom:20px;
	}

#header {
	margin-top: -8px;
	padding-top: 5px;
	margin-left: -8px;
	margin-right: -8px;
	Text-align:center;
	color:#FFF;
	font-family: 'Noto-sans', sans-serif;
	
	
	background: #7d7e7d; /* Old browsers */
	background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* 																    Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
	background: linear-gradient(to bottom, #7d7e7d 0%,#0e0e0e 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); 	     /* IE6-9 */
	}
	
#footerl, #footerr, #footer {
	list-style: none;
	padding-bottom: 15px;
	}
	
#footerl {
	float: left;
	padding-left: 20%;
	}
	
#footerr {
	float: right;
	padding-right: 22%;
	}
#left_player {
	padding-left: 150px;
	float:left;
	}
#right_player {
	padding-right:150px;
	float:right;
	}	
